.gwt-TabPanel {
    background-image: url("imagesForGui/assetsBackground.png");
}

.gwt-TabBar {
    height: 20px;
    padding-top: 3px;
    padding-left: 2px;
    background: rgb(204, 204, 203); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("imagesForGui/tabPanelHeader_IE.png");
    background: -moz-linear-gradient(top, rgba(204, 204, 203, 1) 0%, rgba(248, 248, 247, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 204, 203, 1)), color-stop(100%, rgba(248, 248, 247, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204, 204, 203, 1) 0%, rgba(248, 248, 247, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204, 204, 203, 1) 0%, rgba(248, 248, 247, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204, 204, 203, 1) 0%, rgba(248, 248, 247, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(204, 204, 203, 1) 0%, rgba(248, 248, 247, 1) 100%); /* W3C */
    border-bottom: 1px solid #bfbebc;
    border-top: 1px solid #ededec;
}

.gwt-TabBar .gwt-TabBarItem {
    width: 83px;
    height: 20px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    background: transparent;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    color: #404040;
    text-shadow: 1px 1px 2px #2e2e2e;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    -webkit-box-shadow: 0px -2px 3px 0px #d7d5d5;
    -moz-box-shadow: 0px -2px 3px 0px #d7d5d5;
    box-shadow: 0px -2px 3px 0px #d7d5d5;
    background: rgb(177, 177, 177); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("imagesForGui/tabPanelTab.png");
    background: -moz-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(124, 124, 124, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(177, 177, 177, 1)), color-stop(100%, rgba(124, 124, 124, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(124, 124, 124, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(124, 124, 124, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(124, 124, 124, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(124, 124, 124, 1) 100%); /* W3C */

    color: #fdfdfd;
}




