packages:
  yum:
    sendmail-cf: []

files:
    "/etc/mail/auth/authinfo":
      mode: "0000600"
      owner: root
      group: root
      content: |
        AuthInfo:smtp.gmail.com "U:root" "I:support@naturefootage.com" "P:810f00tage"
        AuthInfo: "U:root" "I:support@naturefootage.com" "P:810f00tage"
container_commands:
  02_configure_sendmail:
      command: sudo cp /etc/mail/sendmail.cf /etc/mail/sendmail.cf.orig
  03_configure_sendmail:
      command: sudo cp /etc/mail/sendmail.mc /etc/mail/sendmail.mc.orig
  04_configure_sendmail:
      command: sudo mkdir -m 700 -p /etc/mail/auth
  066_configure_sendmail:
      command: sudo su -c "/usr/sbin/makemap hash -r /etc/mail/auth/authinfo < /etc/mail/auth/authinfo"
  07_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//define\(\`SMART_HOST\'\,\`\[smtp.gmail.com\]\'\)dnl\n&/" /etc/mail/sendmail.mc
  08_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//define\(\`RELAY_MAILER_ARGS\'\, \`TCP \$h 587\'\)dnl\n&/" /etc/mail/sendmail.mc
  09_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//define\(\`ESMTP_MAILER_ARGS\'\, \`\TCP \$h 587\'\)dnl\n&/" /etc/mail/sendmail.mc
  10_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//define\(\`confAUTH_OPTIONS\'\, \`A p\'\)dnl\n&/" /etc/mail/sendmail.mc
  11_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//TRUST_AUTH_MECH\(\`EXTERNAL DIGEST-MD5 CRAM-MD5 LOGIN PLAIN\'\)dnl\n&/" /etc/mail/sendmail.mc
  12_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//define\(\`confAUTH_MECHANISMS\'\, \`EXTERNAL GSSAPI DIGEST-MD5 CRAM-MD5 LOGIN PLAIN\'\)dnl\n&/" /etc/mail/sendmail.mc
  13_configure_sendmail:
      command: /bin/sed -i "0,/^FEATURE/s//FEATURE\(\`authinfo\'\,\`hash -o \/etc\/mail\/auth\/authinfo.db\'\)dnl\n&/" /etc/mail/sendmail.mc

  14_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i define\(\`SMART_HOST\'\,\`\[smtp.gmail.com\]\'\)dnl" /etc/mail/sendmail.mc
  15_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i define\(\`RELAY_MAILER_ARGS\'\, \`TCP \$h 587\'\)dnl" /etc/mail/sendmail.mc
  16_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i define\(\`ESMTP_MAILER_ARGS\'\, \`TCP \$h 587\'\)dnl" /etc/mail/sendmail.mc
  17_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i define\(\`confAUTH_OPTIONS\'\, \`A p\'\)dnl" /etc/mail/sendmail.mc
  18_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i TRUST_AUTH_MECH\(\`EXTERNAL DIGEST-MD5 CRAM-MD5 LOGIN PLAIN\'\)dnl" /etc/mail/sendmail.mc
  19_configure_sendmail:
      command: /bin/sed -i "/^MAILER/i define\(\`confAUTH_MECHANISMS\'\, \`EXTERNAL GSSAPI DIGEST-MD5 CRAM-MD5 LOGIN PLAIN\'\)dnl" /etc/mail/sendmail.mc

  20_configure_sendmail:
      command: "sudo make -C /etc/mail"
  21_configure_sendmail:
      command: "sudo /etc/init.d/sendmail restart"